################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Interchée/.vs/Interchée

/node_modules
.fake