################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Interchée/.vs/Interchée
.vs/

bin/

obj/

*.user

**/project.assets.json

**/*.cache

**/*.dgspec.json

**/*.nuget.g.props

**/*.nuget.g.targets
 
/Interchée/backend/Interchée
/Interchée/backend/Interchée/Entities/Assignment.cs
/Interchée/backend/Interchée/Entities/AssignmentAssignee.cs
/Interchée/backend/Interchée/Entities/AssignmentSubmission.cs
/Interchée/backend/Interchée/Controllers/AssignmentsController .cs
/Interchée/backend/Interchée/Data/AppDbContext.cs
/Interchée/backend/Interchée/Services/AssignmentStatusService.cs
