.heading{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-left: 20px;
}
/* Main Calendar Container */
.calendar-container {
  padding: 24px;
  min-width: 700px;
  width: fit-content;
  min-height: 600px;
  height: fit-content;
  margin: 0 auto;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.calendar-header {
  text-align: center;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid #3a007c;
}

/* Month and Year Text */
.month-year-text {
  font-weight: 800;
  color: #00304c; 
  margin-bottom: 8px;
  font-size: 2.125rem;
  line-height: 1.2;
}

/* Full Date Text */
.full-date-text {
  color: #666666;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

/* Calendar Main Component */
.calendar-main {
  background-color: red;
  overflow-y: auto;
  
    
}



.calendar-main .MuiPickersDay-root.Mui-selected {
  background-color: #1976d2;
  color: white;
}

.calendar-main .MuiPickersDay-root.Mui-selected:hover {
  background-color: #1565c0;
}

